*{
    margin: 0;
    padding: 0;
}


.cabecalho {
    background-color:(rgb(14, 141, 42)
    color: #06135f;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}#51c3f0;

.cabecalho-imagem{
    width: 10%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}

.escola-imagem{
    width: 25%;
}

.escola{
    background-image: linear-gradient(rgb(14, 141, 42), hsla(138, 100%, 31%, 0.562));
    color: #06135f;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}

.escola-div-conteudo{
    width: 35%;
}
.escola-titulo{
    padding: 24px 0;
}